
DATABASE_URL="postgresql://pv_admin:PVadmin2026@localhost:5433/pvabogadas_db?schema=public"
NEXT_PUBLIC_BASE_URL=https://pvabogadas.es
NEXT_PUBLIC_APP_URL=https://pvabogadas.es

# En Docker/produccion con docker compose, la app usa:
# DATABASE_URL=postgresql://pv_admin:PVadmin2026@db:5432/pvabogadas_db?schema=public

# Redsys (Entorno de Pruebas)
REDSYS_MERCHANT_CODE=999008881
REDSYS_TERMINAL=1
REDSYS_SECRET_KEY=sq7HjrUOBfKmC576ILgskD5srU870gJ7
REDSYS_URL=https://sis-t.redsys.es:25443/sis/realizarPago
REDSYS_MERCHANT_NAME="Abogados PV"
